* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-color: #252525;
}

#calculator {
    width: 320px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

#screen-calculator {
    width: 100%;
    padding: 15px;
    font-size: 28px;
    color: #333;
    text-align: right;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

#buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

#button {
    padding: 20px;
    font-size: 18px;
    text-align: center;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: #333;
    background-color: #e0e0e0;
    transition: background-color 0.3s, transform 0.1s;
}

#button:hover {
    background-color: #d1d1d1;
    transform: scale(1.05);
}

#button:active {
    transform: scale(0.95);
}


.clear {
    grid-column: span 4;
    background-color: #ff4d4d !important;
    font-weight: 600;
    transition: background-color 0.3s, transform 0.1s;
}

.clear:hover {
    background-color: #e64444 !important;
    transform: scale(1.05);
}

.igual{
    grid-column: span 4;
    background-color: #6ae252 !important;
    font-weight: 600;
    transition: background-color 0.3s, transform 0.1s;
}